/** {*/
/*box-sizing: border-box;*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/

/*body {*/
/*!*width: 100px;*!*/
/*  height: 300px;*/
/* }*/

.all-robot {
  height: 500px;
}


.container {
display: flex;
justify-content: center;
  padding-top: 190px;
  padding-left: 80px;

}

.container .eyes {
  position: relative;
width: 100px;
height: 100px;
display: block;
background-color: #fff;
margin-right: 20px;
  margin-left: 45px;
border-radius: 50%;
box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2), inset 0 0 15px #ffffff,
  inset 0 0 25px rgba(72, 71, 71, 0.83);
/*position: relative;*/
/*width: 100px;*/
/*height: 100px;*/
/*display: block;*/
/*background-color: #fff;*/
/*margin: 0 20px;*/
/*border-radius: 50%;*/
/*box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2), inset 0 0 15px #eece80,*/
/*  inset 0 0 25px #f5af19;*/
}

.container .eyes::before {
content: "";
top: 50%;
left: 50px;
transform: translate(-50%, -50%);
width: 60px;
height: 60px;
border-radius: 50%;
background: #000;
position: absolute;
border: 10px solid skyblue;
box-sizing: border-box;
}

.eyes.after-look::before {
content: "";
top: 50%;
left: 50px;
/*transform: translate(-60%, -25%);*/
  transform: translate(-50%, -50%);
width: 60px;
height: 60px;
border-radius: 50%;
background: #000;
position: absolute;
border: 10px solid skyblue;
box-sizing: border-box;
  animation: rolling 6s linear infinite alternate-reverse;
}

@keyframes rolling {
  from {transform: rotate(0deg) translate(-25%, -25%)}
  to {transform: translate(-75%, -25%)}
/*  0% {*/
/*    transform: translate(-50%, -50%);*/
/*    !*from {transform: translate(-50%, -50%)}*!*/
/*    !*to {transform: translate(-25%, -25%)}*!*/
/*}*/
/*33% {*/
/*    transform: translate(-25%, -25%);*/
/*}*/
/*66% {*/
/*  transform: translate(-50%, -25%);*/
/*}*/
/*  100% {*/
/*    transform: translate(-60%, -25%);*/
/*  }*/

}