/*#robot-eyes {*/
/*    animation: movement 5s linear infinite alternate-reverse;*/
/*    !*animation-delay: 1s;*!*/
/*}*/


@keyframes movement{
    0%{
    padding-left: 70px;
  }
    50%{
    padding:0;

  }
  100%{
    padding-right:70px;
  }
}

/*  0%, 30%{*/
/*    transform:rotate(40deg)*/
/*              translate(13px)*/
/*              rotate(40deg);*/

/*  }*/
/*    35%, 60%{*/
/*    transform:rotate(90deg)*/
/*              translate(13px)*/
/*              rotate(90deg);*/

/*  }*/
/*  65%, 100%{*/
/*    transform:rotate(140deg)*/
/*              translate(13px)*/
/*              rotate(-140deg);*/
/*  }*/
/*}*/

.request-text {
    font-weight: bold;
    font-size: 22px;
}

.list-of-names {
    width: 100%;
    height: auto;
    display: inline-block;
    position: center;
    /*padding-top: 60px;*/
    /*padding-left: 120px;*/
}

.buttons {
    width: 100%;
    height: auto;
    display: block;
    /*margin-top: 20px;*/
}

.images {
    width: 120px;
    border-radius: 25px;
}

ul#profile-pics li {
    display: inline;
    padding: 30px 50px;
}

ul {
    padding-top: 50px;
}